<nav class="navbar navbar-default navbar-fixed-top">

     <div class="container-fluid navbar-dark">
      <div class="navbar-header">
        <a class="navbar-brand">Customer  Onboarding App </a>
      </div>
      <ul class="nav navbar-nav">
        <li class=""><a routerLink="/" ><strong> Home </strong></a></li>
        <li><a routerLink="customer"><strong> Customer </strong></a> </li>
        <li><a routerLink="help"><strong> Help </strong> </a></li>
        <li><a routerLink="about"><strong> About </strong> </a></li>
      </ul>
    </div>
  </nav> 

 
